# Agent
AGENT_CHAT_MODEL='openai:gpt-4.1-nano'
OPENAI_API_KEY=''

# AGENT_CHAT_MODEL='google_genai:gemini-2.5-flash'
# GOOGLE_API_KEY=''

# Tavily
TAVILY_API_KEY=''

# Database
CHECKPOINTER_DATABASE_URL='postgresql://postgres:postgres@localhost:5432/checkpointer'

# Langsmith
LANGSMITH_TRACING='true'
LANGSMITH_ENDPOINT='https://api.smith.langchain.com'
LANGSMITH_API_KEY=''
LANGSMITH_PROJECT=''